.app.light{
    --bg-color: #eaeaea;
    --inverted-bg-color: #000817;
    --primary-color: #be6c00;
    --secondary-color: #da800b;
    --inverted-primary-color: #03c706;
    --inverted-secondary-color: #44ff5d
}